$primary-color: #baaa92;
$success-color: #28CA42;
$error-color: #f44336;
$disabled-color: #c7c7c7;
$dark-text-color: #333;
$light-text-color: #ffffff;
$dark-border-color: #b1aeae;
$light-border-color: #eeeeee;

$standard-padding: 8px;
$standard-margin: 8px;

$standard-border-radius: 10px;

$standard-font-size: 16px;
